<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <h2 class="alert alert-success text-center">Update Student</h2>
            <form action="/update/<%= data._id %>" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" id="name" class="form-control" value="<%= data.name %>">
                </div> 
                <div class="mb-3">
                    <label for="age" class="form-label">Age</label>
                    <input type="text" name="age" id="age" class="form-control" value="<%= data.age %>">
                </div>
                <div class="mb-3">
                    <label for="fees" class="form-labe">Fees</label>
                    <input type="text" name="fees" id="fees" class="form-control" value="<%= data.fees %>">
                </div>
                <button type="submit" class="btn btn-warning">Update</button>
                <form action="/">
                    <button type="submit" class="btn btn-secondary">Back to Home</button>
                </form>
            </form>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
